<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @fact.hours %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @fact.pets %>
</p>

<p>
  <strong>Happyhour:</strong>
  <%= @fact.happyhour %>
</p>

<p>
  <strong>Fullbar:</strong>
  <%= @fact.fullbar %>
</p>

<p>
  <strong>Bikeracks:</strong>
  <%= @fact.bikeracks %>
</p>

<p>
  <strong>Music:</strong>
  <%= @fact.music %>
</p>

<p>
  <strong>Games:</strong>
  <%= @fact.games %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @fact.wifi %>
</p>

<p>
  <strong>Reservations:</strong>
  <%= @fact.reservations %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @fact.smoking %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @fact.parking %>
</p>

<p>
  <strong>Whattoexpect:</strong>
  <%= @fact.whattoexpect %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
