<style type="text/css">
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
width: 100%;
background: url(/assets/pageWrapper.png) repeat-x 0 0, url(/assets/textured_bg.jpg) repeat 0 0;
}

.accordion-panel{display: none; background: #fff;background: #fff;
width: 80%;
border-radius: 3px;
margin-left: auto;
margin-right: auto;
padding: 11px 0;}
button.accordion-control {
border: none;
background: brown;
padding: 20px;
margin: 5px;
border-radius: 3px;
color: #fff;
width: 341px;
}
ul {list-style: none;text-align: center}
li {text-align: center;}
ul.accordion {
margin-top: 60px;
}


@media only screen and (min-width : 1224px) {
ul {list-style: none;text-align: left;}
li {text-align: left;}
.accordion-panel {
background: #fff;
width: 67%;
border-radius: 3px;
margin-left: 360px;
margin-right: auto;
padding: 11px 0;
position: relative;
top: -68px;
}
button.accordion-control {
border: none;
background: brown;
padding: 20px;
margin: 5px;
border-radius: 3px;
color: #fff;
width: 341px;
font-size: 20px;
}
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


</style>

<header>
			  <h1 id="display_homepage_title">
			        <a href="http://www.americantailgater.com/default.asp" title="Work Horse Bar">Work Horse Bar</a>
			  </h1>
			</header>

			<nav id="topNav">
			    <div id="display_menu_1" class="menu">
			      <ul>
			      	<li>Reviews</li>
			      	<li>
				      	<ul id="sddm">
						    <li><a href="#" 
						        onmouseover="mopen('m1')" 
						        onmouseout="mclosetime()">Menu</a>
						        <div id="m1" 
						            onmouseover="mcancelclosetime()" 
						            onmouseout="mclosetime()">
						        <a href="#">HTML/CSS</a>
						        <a href="#">DHTML Menu</a>
						        <a href="#">JavaScript</a>
						        </div>
						    </li>
					  </li>
			      	<li>Home</li>
				  </ul>
			    </div>
			    <div id="display_menu_2" class="menu">
			      <ul>
			      	<li>Jukebox</li>
			      	<li>Pics</li>
			      	<li>Staff</li>
				  </ul>

			    </div>
			</nav>

<ul class="accordion">
	<li>
	    <button class="accordion-control">Open Hours</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.hours %></h3>
			<% end %>
		    </p>
		</div>
    </li>   

	<li>
	    <button class="accordion-control">Pets</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.pets %></h3>
			<% end %>
		    </p>
		</div>
    </li>  

	<li>
	    <button class="accordion-control">Happy Hour</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.happyhour %></h3>
			<% end %>
		    </p>
		</div>
    </li>  

	<li>
	    <button class="accordion-control">Full Bar</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.fullbar %></h3>
			<% end %>
		    </p>
		</div>
    </li>  

	<li>
	    <button class="accordion-control">Bike Racks</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.bikeracks %></h3>
			<% end %>
		    </p>
		</div>
    </li>  

	<li>
	    <button class="accordion-control">Music</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.music %></h3>
			<% end %>
		    </p>
		</div>
    </li> 


	<li>
	    <button class="accordion-control">Games</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.games %></h3>
			<% end %>
		    </p>
		</div>
    </li> 

	<li>
	    <button class="accordion-control">WIFI</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.wifi %></h3>
			<% end %>
		    </p>
		</div>
    </li> 

	<li>
	    <button class="accordion-control">Reservations</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.reservations %></h3>
			<% end %>
		    </p>
		</div>
    </li> 

	<li>
	    <button class="accordion-control">Smoking</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.smoking %></h3>
			<% end %>
		    </p>
		</div>
    </li> 

	<li>
	    <button class="accordion-control">Parking</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.parking %></h3>
			<% end %>
		    </p>
		</div>
    </li> 

	<li>
	    <button class="accordion-control">What To Expect</button>
	    <div class="accordion-panel">
	        <p>
		    <% @facts.each do |fact| %>
				<h3><%= fact.whattoexpect %></h3>
			<% end %>
		    </p>
		</div>
    </li> 


<script>
// Avoid `console` errors in browsers that lack a console.
(function() {
    var method;
    var noop = function () {};
    var methods = [
        'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
        'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
        'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
        'timeStamp', 'trace', 'warn'
    ];
    var length = methods.length;
    var console = (window.console = window.console || {});

    while (length--) {
        method = methods[length];

        // Only stub undefined methods.
        if (!console[method]) {
            console[method] = noop;
        }
    }
}());

// Place any jQuery/helper plugins in here.


$('.accordion').on('click', '.accordion-control', function(e){ // When clicked
  e.preventDefault();                    // Prevent default action of button
  $(this)                                // Get the element the user clicked on
    .next('.accordion-panel')            // Select following panel 
    .not(':animated')                    // If it is not currently animating
    .slideToggle();                      // Use slide toggle to show or hide it
});
  </script>