<% if user_signed_in? %>

<div class="container">
			
			<div id="tabs" class="tabs">
			<nav>
					<ul>
						<li><a href="#section-1" class="icon-shop"><span>Beer</span></a></li>
						<li><a href="#section-2" class="icon-cup"><span>Drinks</span></a></li>
						<li><a href="#section-3" class="icon-food"><span>Food</span></a></li>
						<li><a href="#section-4" class="icon-lab"><span>Menu</span></a></li>
						<li><a href="#section-5" class="icon-truck"><span>Contact</span></a></li>
						<li><a href="#section-6" class="icon-truck"><span>Reviews</span></a></li>
						<li><a href="#section-7" class="icon-truck"><span>JukeBox</span></a></li>
						<li><a href="#section-8" class="icon-truck"><span>images</span></a></li>
            <li><a href="#section-9" class="icon-truck"><span>Employees</span></a></li>
            <li><a href="#section-10" class="icon-truck"><span>Facts</span></a></li>

					</ul>
				</nav>
				<div class="content">
					<section id="section-1">
						<% @beers.each do |beer| %>
                        <div class="mySection">
                          <span class="thumbImg"><%= image_tag beer.image.url(:original, timestamp: false) %></span>
                          <h2><a href="<%= beer.link %>"> <%= beer.description %></a></h2>
                                <%= link_to 'Edit', edit_beer_path(beer) %>
                                <%= button_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </div>
                            <% end %>
                            <%= link_to 'New Beer', new_beer_path %>
          </section>
					<section id="section-2">
						<% @drinks.each do |drink| %>
                          
                           
                              <h2><%= drink.description %></h2>
                                  <%= link_to 'Edit', edit_drink_path(drink) %>
                                  <%= button_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %>
                            
                            <% end %>

                            <%= link_to 'New drink', new_drink_path %>
					</section>
					<section id="section-3">
						<% @foods.each do |food| %>
                          
                           
                              <h2><%= food.description %></h2>
                                  <%= link_to 'Edit', edit_food_path(food) %>
                                  <%= button_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %>
                            
                            <% end %>

                            <%= link_to 'New dish', new_food_path %>
					</section>
					<section id="section-4">
						<% @menus.each do |menu| %>
                           
                              <p><%= raw menu.menu_br %></p>
                                  <%= link_to 'Edit', edit_menu_path(menu) %>
                            <% end %>
					</section>
					<section id="section-5">
						<% @phones.each do |phone| %>
                          
                           
                              <h2><%= phone.description %></h2>
                                  <%= link_to 'Edit', edit_phone_path(phone) %>                         
                        <% end %>
						<% @emails.each do |email| %>
                          
                           
                              <h2><a href="mailto:<%= email.description %>"><%= email.description %></a></h2>
                                  <%= link_to 'Edit', edit_email_path(email) %>
                            
                        <% end %>
						<% @addresses.each do |address| %>
                          
                           
                              <h2><%= address.description %></h2>
                                  <%= link_to 'Edit', edit_address_path(address) %>
                            
                        <% end %>
					</section>
					<section id="section-6">
						<% @reviews.each do |review| %>
                          
                           
                              <h2><%= review.description %></h2>
                                  <%= link_to 'Edit', edit_review_path(review) %>
                                  <%= button_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
                            
                        <% end %>

                        <%= link_to 'New review', new_review_path %>
					</section>
					<section id="section-7">
						<div class="container demo-3">
  
                <ul class="grid cs-style-4">
                  <% @jukeboxes.each do |jukebox| %>
                  <li>
                    <figure>
                      <div><%= image_tag jukebox.image.url(:original, timestamp: false) %></div>
                      <figcaption>
                        <h3><%= jukebox.band %></h3>
                        <span><%= jukebox.description %></span>
                        <a href="<%= jukebox.url %>" target="_blank">See More</a>
                      </figcaption>
                    </figure>
                  </li>
                   <% end %>
                </ul>
              </div><!-- /container -->

                        <%= link_to 'New jukebox', new_jukebox_path %>
					</section>
					<section id="section-8">
            <% @logos.each do |logo| %>
                          
            <%= image_tag logo.image.url(:original, timestamp: false) %>
                      <%= link_to 'Edit', edit_logo_path(logo) %>
                      <%= link_to 'New photo', new_logo_path %>
                
            <% end %>
						<% @images.each do |image| %>
                          
                           <%= image_tag image.image.url(:original, timestamp: false) %>
                              <h2><%= image.description %></h2>
                                  <%= link_to 'Edit', edit_image_path(image) %>
                                  <%= button_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
                            
                        <% end %>

                        <%= link_to 'New photo', new_image_path %>
					</section>
          <section id="section-9">
            <% @employees.each do |employee| %>
                          
                           
                              <h2><%= employee.description %></h2>

                                  <%= link_to 'Edit', edit_employee_path(employee) %>
                                  <%= button_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %>
                            
                        <% end %>

                        <%= link_to 'New photo', new_employee_path %>
          </section>
          <section id="section-10">
            <% @facts.each do |fact| %>
                          
                           
                              <h3><%= fact.hours %></h3>
                              <h3><%= fact.pets %></h3>
                              <h3><%= fact.happyhour %></h3>
                              <h3><%= fact.fullbar %></h3>
                              <h3><%= fact.bikeracks %></h3>
                              <h3><%= fact.music %></h3>
                              <h3><%= fact.games %></h3>
                              <h3><%= fact.wifi %></h3>
                              <h3><%= fact.reservations %></h3>
                              <h3><%= fact.smoking %></h3>
                              <h3><%= fact.parking %></h3>
                              <h3><%= fact.whattoexpect %></h3>
                                  <%= link_to 'edit', edit_fact_path(fact) %>
                        <% end %>

                        
          </section>
				</div><!-- /content -->
			</div><!-- /tabs -->
			<p class="info">Developed by <a href="http://ledbetterlife.com">Joshua Ledbetter</a></p>
		</div>
		<script src="js/cbpFWTabs.js"></script>
		<script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
		</script>

  <% else %>

  You best sign in boy

  <% end %>