<h1>Listing jukeboxes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jukeboxes.each do |jukebox| %>
      <tr>
        <td><%= image_tag jukebox.image.url(:original, timestamp: false) %></td>
        <td><%= jukebox.description %></td>
        <td><%= link_to 'Show', jukebox %></td>
        <td><%= link_to 'Edit', edit_jukebox_path(jukebox) %></td>
        <td><%= link_to 'Destroy', jukebox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jukebox', new_jukebox_path %>
