<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  
  <%= image_tag @drink.image.url(:original, timestamp: false) %>
  <%= @food.description %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
