<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= image_tag @beer.image.url(:original, timestamp: false) %>
  <%= @beer.description %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
