<!DOCTYPE html>
<html>
<head>
  <title>WorkHorseBar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>
<% if user_signed_in? %>
<style>
body {margin-top: 100px;}
</style>
<div class="container" style="height: 100px;position: fixed;top: 0;z-index: 9999;background: #fff;box-shadow: 0px 0px 5px 1px;">
			<header class="clearfix">
				<span>WorkHorse <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
				<nav>
					<%= link_to 'View Site', root_path %>
					<%= link_to 'View Admin', pages_admin_path %>
					<%= link_to 'My Account', edit_user_registration_path %>
				</nav>
			</header>	
</div>
<% end %>
<%= yield %>

</body>
</html>
